{% extends 'base_bulma.html' %}
{% load widget_tweaks %}

{% block content %}

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">
          {% if form.errors %}
            <p>Invalid username or password. Please try again.</p>
          {% endif %}
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field">
              <div class="control has-icons-left">
                {{ form.username|add_class:"input is-large"|attr:"placeholder:Username" }}
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <div class="control has-icons-left">
                {{ form.password|add_class:"input is-large"|attr:"placeholder:Password" }}
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <input type="submit" value="Login" class="button is-block is-info is-large is-fullwidth">
            <input type="hidden" name="next" value="{{ next }}">
          </form>
        </div>
        <p class="has-text-grey">
          <a href="../">Sign Up</a> &nbsp;·&nbsp;
          <a href="{% url 'password_reset' %}">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}