{% extends 'base_bulma.html' %}

{% block content %}

<div class="section">
  <div class="container">
    <div class="column is-6 is-offset-3">
      {% if recent_visits %}
        {% for visit in recent_visits %}
          <a class="box" href="{% url 'visits:detail' visit.id %}">
            {{ visit.client }} on {{ visit.visit_date }}
          </a>
        {% endfor %}
      {% else %}
        <p>No visits are available.</p>
      {% endif %}
      <a class="button is-primary" href="{% url 'visits:create' %}">Add Visit</a>
    </div>
  </div>

</div>

{% endblock %}
